.card-container {
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  gap: 1rem;
  transition: all 0.5s;
}

.card-container:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-container img {
  width: 150px;
  height: 150px;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.card-content h2 {
  text-transform: capitalize;
  
}

.card-content h2:hover {
  cursor: pointer;
  color: #f50057;
}

.card-content div {
  width: 270px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn-remove{
  background-color: #f50057;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-remove:hover{
  background-color: #ff5983;
}
